:root {
    /* COLORS */
    --clr-highlight-500: hsl(25, 97%, 53%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-regular-200: hsl(0, 0%, 83%);
    --clr-neutral-200: hsl(217, 12%, 63%);
    --clr-neutral-400: hsl(216, 12%, 54%);
    --clr-neutral-700: hsl(213, 19%, 18%);
    --clr-neutral-900: hsl(216, 12%, 8%);
    /* FONTS */
    --ff-primary: "Overpass", sans-serif;
    /* FONT WEIGHTS */
    --ff-weight-400: 400;
    --ff-weight-700: 700;
  }

 /* *{
    outline: 2px solid red;
}*/
  body{
    background-color: var(--clr-neutral-900);
    color: var(--clr-regular-200);
    font-family: var(--ff-primary);
    font-size: 1.2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .logo{
    font-family: 'Slabo 27px', serif;
    color: var(--clr-highlight-500);
    text-shadow: -3px 5px 4px var(--clr-neutral-700);
    display: flex;
    justify-content: center; 
    margin-bottom: 3rem;
    margin-top: 1rem;
  }
  
  h2{
    margin: 2.5rem;
  }

  ol > li {
    padding: 0.5rem;
  }

  @keyframes wiggle {
    0% {
      transform: translateY(0px);
    }
    5% {
      transform: translateY(-16px);
    }
    20%, 100%{
        transform: translateY(0px);
    }
  }

.game-layout{
  margin-bottom: 4rem;
  height: 50%;
  display: grid;
  place-content: center;
  justify-items: center;
  /*display: flex;
  justify-content: center;
  flex-direction: row-reverse;*/
}

  .rules{
    background-color: var(--clr-neutral-900); 
    margin: 2.5rem;
  }

  .rules-heading{
    color: var(--clr-highlight-500);
  }

  
  .rules > .buttons > button{
    width: 7rem;
    height: 2.5rem;
    font-size: 0.9rem;
    margin: 1rem;
    display: inline-block;
    background-color: var(--clr-highlight-500);
    color: hsl(30, 45%, 100%);
    transition: 300ms ease-out;
    border-radius: 5px; 
  }

   .tip{
     margin-top: 1.5rem;
  }

   .pro{
    display: inline-block;
    color: var(--clr-highlight-500);
    animation: wiggle 3500ms ease-out;
    animation-delay: 2000ms;
    animation-iteration-count: 10;
  }

  .game-layout > ol{
      display:grid;
      grid-template-columns: repeat(2, 1fr);
      place-content: center;
      gap: 5rem;
      align-items: center;
      justify-content: center;
      
  }

  .rules > ol > li::marker{
    color: var(--clr-highlight-500);
  }

  .game-layout > ol > li > button{
    width: 10rem;
    height: 5rem;
    font-size: 0.9rem;
    margin: 1rem;
    display: inline-block;
    background-color: var(--clr-highlight-500);
    color: hsl(30, 45%, 100%);
    transition: 300ms ease-out;
    border-radius: 5px; 

  }

  .game-layout > ol > li > button:hover{
    cursor: pointer;
    color: var(--clr-highlight-500);
    box-shadow: inset 10rem 0 0 0 hsl(30, 45%, 100%);
    transform: scale(1.15)
  }

  

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    left: -10000px;
    list-style: none;
  }

  .rules > .buttons > button:hover,
  .rules2 > .buttons > button:hover{
    cursor: pointer;
    color: var(--clr-highlight-500);
    box-shadow: inset 7rem 0 0 0 hsl(30, 45%, 100%);
    transform: scale(1.15);
  }


  .values > span  {
    margin: 4rem;
    display: flex;
    justify-content: center; 
    flex-direction: row;
    font-size: 2rem;
    color: var(--clr-neutral-400);
  }

  footer{
    position: sticky;
    top: 100vh;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
  }

   a{
    text-decoration: none;
    color: hsl(25, 97%, 53%);
    transition:  200ms ease-in;
    display: inline-block;
    animation: signOff 500ms ease-in;
  }

  a:hover{
    color: hsl(25, 97%, 33%);
    transform: translateY(-6px);
   
  }
  
  a:active{
    color: hsl(25, 97%, 60%);
  }
